body {
    background: linear-gradient(to bottom left, #24ca5b, #1eac99);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Raleway', sans-serif;
}


#heading {
    text-align: center;
    margin-top: 0;
    padding-top: 25px;
}

#main-header {
    margin-bottom: 30px;
}

.todo-list {
    color: white;
    border-radius: 15px;
    text-align: center;
    width: 500px;
    height: 475px;
    margin: 0 auto;
}

.list-header {
    background-color: white;
    color: #3e9b69;
    border-radius: 15px 15px 0 0;
}

.list-heading {
    margin: 0 0;
    padding: 15px 0;
}

.input-todo {
    width: 82%;
    height: 27px;
    margin-bottom: 9px;
    border: 1px solid #3e9b69;
    border-radius: 3px;
    padding-left: 7px;
    outline: none;
    font-family: 'Raleway', sans-serif;
    color: #3e9b69;
    font-size: 1.1rem;
}

button {
    outline: none;
}

.add-todo-btn {
    vertical-align: top;
    width: 35px;
    height: 31px;
    border-radius: 5px;
    border: none;
    padding: 0;
    background: url(icons/plus.svg) no-repeat center;
    background-size: 20px;
    background-color: #44dd72;
    transition: all 0.2s;
}

.add-todo-btn:hover {
    background-color: #2fc55c;
    transition: all 0.2s;
}

ul {
    margin: 0;
    height: 358px;
    padding: 15px 5px 0 10px;
    overflow: auto;    
    border: 2px solid white;
    border-radius: 0 0 15px 15px;
}

ul::-webkit-scrollbar {
    width: 14px;
}

ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 9px 9px transparent;
    border: solid 4px transparent;
    
}

ul::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 9px 9px white;
    border: solid 4px transparent;
    border-radius: 20px;
}


li {
    list-style-type: none;
    height: 40px;
    margin: 5px 10px;
    color: #3e9b69;
    background-color: white;
    border-radius: 5px;
}

.item-text {
    margin: 10px 0 0 30px;
    display: inline-block;
    font-size: 1.1rem;
}

.delete-item {
    float: right; /* -> display: block */
    margin: 7px 7px;
    padding: 13px; 
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background: url(icons/x.svg) no-repeat center;
    background-size: 15px;
    background-color: #ff2d2d;
    transition: all 0.2s;
}

.delete-item:hover {
    background-color: #ff5e5e;
    transition: all 0.2s;
}

.done {
    color: #649179;
    background-color: #93f5c4;
}

.done .item-text {
    text-decoration: line-through;
}

figure {
    width: 400px;
    margin: 25px auto 0;
}

